<div class='d-flex justify-content-start flex-column flex-lg-row'>
  <div class="poster text-center">
    <img src="{{film.image}}" class="rounded poster-img" alt="...">
    <p class="">{{film.year}} год, {{film.genre}}</p>
  </div>
  <div class="d-flex p-2 flex-column">
    <h2>{{film.title}}</h2>
    <p class='desc w-75'>{{film.desc}}</p>
    <p *ngIf='film.actor'>В главных ролях: {{film.actor}}</p>
    <p>Режиссер: {{film.director}}</p>
    <p>Рейтинг: {{film.rating}}</p>
    <p>Количество: {{film.count}} шт.</p>
    <div *ngIf="userService.getUserRole===0">
      <button class="btn btn-primary" (click)="onOrderClick()">Сделать заказ</button>
    </div>
  </div>
</div>

