<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand">Фильмотека</a>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a *ngIf="userService.user.role>-1" class="nav-item nav-link" [routerLink]="'/'" routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }">Фильмы</a>
      <a *ngIf="userService.user.role===0" class="nav-item nav-link" [routerLink]="'/orders'"
        routerLinkActive="active">Заказы</a>
      <a *ngIf="userService.user.role>0" class="nav-item nav-link" [routerLink]="'/journal'"
        routerLinkActive="active">Журнал заказов</a>
      <a *ngIf="userService.user.role===2" class="nav-item nav-link" [routerLink]="'/edit_film/-1'"
        routerLinkActive="active">Добавить фильм</a>
      <a *ngIf="userService.user.role===1" class="nav-item nav-link" [routerLink]="'/edit_film/0'"
        routerLinkActive="active">Добавить заказ</a>
      <a *ngIf="userService.user.role>1" class="nav-item nav-link" [routerLink]="'/requests'" routerLinkActive="active">
        Запросы на добавление фильма</a>
      <a *ngIf="userService.user.role===-1" class="nav-item nav-link" [routerLink]="'/register'"
        routerLinkActive="active">Зарегистрироваться</a>
      <a *ngIf="userService.user.role===-1" class="nav-item nav-link" [routerLink]="'/login'"
        routerLinkActive="active">Войти</a>
      <a *ngIf="userService.user.role>-1" class="nav-item nav-link" [routerLink]="'/login'"
        routerLinkActive="active">Выйти</a>
    </div>
  </div>
</nav>
